* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: #28002b;
}


.filters {
  display: flex;
  justify-content: start;
  margin: 15px;
  gap: 10px;
}

select {
  background-color: #3e006f;
  color: #fff;
  border: none;
  padding: 16px 14px;
  border-radius: 6px;
  cursor: pointer;
}

table {
  width: 97%;
  margin: 30px auto;
  border-collapse: collapse;
  background-color: #37003c;
  border-radius: 10px;
  overflow: hidden;
}

td {
  padding: 12px 8px;
  color: #fff;
}

th {
  padding: 12px 8px;
  text-align: start;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #fff;
}


th:nth-child(2) {
  align-items: start;
  text-align: start;
}


tbody tr:nth-child(even) {
  height: 100%;
}

tbody tr:nth-child(1) {
  position: relative;
  height: 100%;
}

tbody tr:hover {
  background-color: hsla(294, 75%, 11%, 0.774);
  transition: 0.3s;
  cursor: pointer;
}

td:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 20px;
  height: 100%;
}

td:nth-child(2) img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

td:nth-child(10) {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0px;
}

.form {
  display: flex;
}

#open-nav-header {
  display: none;
}

.next img {
  background-color: blue;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.form .W { background-color: #16a34a; } /* green */
.form .D { background-color: #ca8a04; } /* yellow */
.form .L { background-color: #dc2626; } /* red */

@media (max-width: 767px) {
  body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
    border: 1px solid ;
    padding: 0;
    align-items: start;
    justify-content: center;
  }

  #open-nav-header {
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }

  #open-nav-header img {
    border: 1px solid red;
    height: 30px;
    width: 30px;
  }

  .header-links {
    flex-direction: column;
    position: absolute;
    background: hsl(296, 100%, 8%);
    height: fit-content;
    z-index: 10;
    top: 3%;
    width: 80%;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
  }

  .logo {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 60px;
    width: 60px;
  }

  .logo button img {
    height: 20px;
    width: 20px;
  }

  .matches-section {
    width: 100%;
    margin: 0;
  }

  table {
    margin: 0;
  }

  #table-body {
    border: 2px solid blue;
    width: 100%;
    overflow: hidden;
    background-color: red;
  }

  .table-row {
    border: 1px solid green;
  }

  td:nth-child(2) {
    width: 200px;
  }


}
