* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border-radius: 14px;
}

img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.outgoingClub, .incomingClub {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 21%;
}

thead {
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.transHead {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.transHead th {
    width: 50%;
}

th:nth-child(1), th:nth-child(3) {
    text-align: start;
}

.transfTable {
    width: 97vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.transfTable:hover {
    background-color: chartreuse;
}

.player-details {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 24.7%;
}

.transfer-type {
    width: 10%;
    text-align: center;
}

@media(max-width: 767px) {

    body {
        width: 100%;
    }
    .transfTable {
        width: 100%;
    }

    thead {
        width: 100%;
        justify-content: space-around;
    }

    .transfTable {
        width: 100%;
    }

    .transHead {
        width: 100%;
    }

    .transHead th {
        width: 500px; 
    }

    th {
        width: 250px;
    }

    th:nth-child(1) {
        border: 1px solid ;
        width: 182px;
    }

    th:nth-child(2) {
        width: 700px;
    }

    table {
        border: 1px solid yellow;
        width: 100%;
        overflow-x: scroll;
        margin: 0;
    }

    .outgoingClub, .incomingClub {
        width: 190px;
    }

    .player-details {
        width: 152px;
    }

    .transfer-type {
        width: 90px;
    }
}